<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>Design4Green</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <div class=header-bar>
      <h1>
        Design4Green Hackaton 2018
      </h1>
    </div>
  </header>
<div class='content'>
    <div class="introduction">
      <p>
        With the support of ADEME, the Ministry of Ecology, Energy and the Sea and the Ministry of Economy and Finance,
        the association AGIT (Alliance for Green IT) and the eco-organizations of the recycling network of Waste
        Electrical and Electronic Equipment (WEEE) organize a survey to assess the deposits of computer and office
        equipment present in companies and more generally on the maturity of companies in France in the use of
        eco-responsible digital services.  The duration of the questionnaire is estimated at 15 minutes if you are able
        to answer questions directly.  You can return at any time on the questionnaire, answer in several times, your
        previous answers are recorded. In case of modification, only the last answer will be taken into account.  You
        can submit this questionnaire to several people in your organization. All you have to do is simply share the
        link to the questionnaire.
      </p>
    </div>
    {% set category = "" %}
    {% set subcategory = "" %}
<form name='questionnaire'>
    {% for question in questions %}
        {% if subcategory and subcategory != question.subcategory %}
            {% set subcategory = '' %}
            </tbody></table></div></div></div> {# used to close "question_prelude.html.twig" opened in earlier iteration #}
        {% endif %}
        {% if question.category != category %}
            {% set category = question.category %}
            {% include "category.html.twig" with {"category": question.category} %}
        {% endif %}
        {% if question.subcategory %}
            {% if question.subcategory != subcategory %}
                {% set subcategory = question.subcategory %}
                {% include "question_prelude.html.twig" %}
                {% if question.type == 'choice' %}
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            {% for label, textbox in question.choices %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                {% endif %}
            {% else %}
                {% if question.type == 'choice' %}
                    {% set type = "radio" %}
                    {% if question.multiple %}
                        {% set type = "checkbox" %}
                    {% endif %}
                    <tr>
                        <td>{{ question.content }}</td>
                        {% set i = 0 %}
                        {% for label, textbox in question.choices %}
                            <td>
                                <input type="{{ type }}"
                                       id="{{ question.id }}:{{ i }}" name="{{ question.id }}"
                                       value="{{ i }}">
                                {% if textbox %}

                                {% endif %}
                            </td>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </tr>
                {% else %}
                    <div>
                        <label for="{{ question.id }}:{{ i }}">{{ question.content }}</label>
                        <input type="text" id="{{ question.id }}:{{ i }}" name="{{ question.id }}"/>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% include "question_prelude.html.twig" %}
                <div class="question {{ question.id }}">
                    {% if question.type == 'choice' %}
                        {% set type = "radio" %}
                        {% if question.multiple %}
                            {% set type = "checkbox" %}
                        {% endif %}
                        {% set name = question.id %}
                        {% if question.multiple %}
                            {% set name = name ~ "[]" %}
                        {% endif %}
                        {% set i = 0 %}
                        {% for label, textbox in question.choices %}

                            <div>
                                <input class='{{ type }}' type="{{ type }}" id="{{ question.id }}:{{ i }}"
                                       name="{{ name }}" value="{{ i }}">
                                <label class='label label-{{ type }}' for="{{ question.id }}:{{ i }}">
                                    {{ label }}
                                    {% if textbox %} : <input type="text" id="{{ question.id }}:{{ i }}:text" name="{{ question.id ~ 'text' }}">{% endif %}
                                </label>

                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    {% elseif question.type == 'text' %}
                        <div>
                            <label for="{{ question.id }}:{{ i }}">{{ question.content }}</label>
                            <input type="text" id="{{ question.id }}:{{ i }}" name="{{ question.id }}"/>
                        </div>
                    {% endif %}
                    {% if question.comment %}
                        <q><i>{{ question.comment|raw }}</i></q>
                    {% endif %}
                </div>
            </div></div></div>
        {% endif %}
    {% endfor %}
</form>
<div class='introduction'>
<p>
   Thank you for participating in this survey. Your answer is invaluable to us to constitute the most representative sample of the companies in France.
</p>
</div>


<footer>
    <p>Done by five students from EPITA: Achraf El Khachchai, Leo Champion, Nathan Quintard, Gonzague De Gineste, Justin Rerolle</p>
</footer>
<a id="button-co" class="float">
    <img class="sunmoon" src="data:image/svg+xml;base64,
PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDQ5NiA0OTYuMDk4MzEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9IiI+PGc+PHBhdGggZD0ibTI0OC4xNDg0MzggNzJjLTcxLjE4MzU5NC4wMTU2MjUtMTM1LjM1NTQ2OSA0Mi44OTg0MzgtMTYyLjU5NzY1NyAxMDguNjY0MDYyLTI3LjI0NjA5MyA2NS43NjU2MjYtMTIuMjAzMTI1IDE0MS40NjQ4NDQgMzguMTE3MTg4IDE5MS44MTY0MDdsMjQ4Ljk2MDkzNy0yNDguOTYwOTM4Yy0zMi45ODQzNzUtMzMuMDU0Njg3LTc3Ljc4NTE1Ni01MS41OTc2NTYtMTI0LjQ4MDQ2OC01MS41MTk1MzF6bTAgMCIgZmlsbD0iIzU3YTRmZiIgZGF0YS1vcmlnaW5hbD0iIzU3QTRGRiIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkJGQkZCIiBkYXRhLW9sZF9jb2xvcj0iI0Y3RjdGNyI+PC9wYXRoPjxwYXRoIGQ9Im0yNDguMTQ4NDM4IDQyNGM2Ni4wNjY0MDYuMDAzOTA2IDEyNi41NzAzMTItMzYuOTg4MjgxIDE1Ni42NzU3ODEtOTUuNzk2ODc1IDMwLjEwOTM3NS01OC44MDQ2ODcgMjQuNzQ2MDkzLTEyOS41MTk1MzEtMTMuODgyODEzLTE4My4xMTMyODFsLTI0NC45NDUzMTIgMjQ2LjI0NjA5NGMyOS43OTY4NzUgMjEuMjk2ODc0IDY1LjUyMzQzNyAzMi43MjI2NTYgMTAyLjE1MjM0NCAzMi42NjQwNjJ6bTAgMCIgZmlsbD0iIzU3YTRmZiIgZGF0YS1vcmlnaW5hbD0iIzU3QTRGRiIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkJGQkZCIiBkYXRhLW9sZF9jb2xvcj0iI0Y3RjdGNyI+PC9wYXRoPjxnIGZpbGw9IiMwMDRmYWMiPjxwYXRoIGQ9Im0yNDguMTQ4NDM4IDU2YzQuNDE3OTY4IDAgOC0zLjU4MjAzMSA4LTh2LTQwYzAtNC40MTc5NjktMy41ODIwMzItOC04LTgtNC40MTc5NjkgMC04IDMuNTgyMDMxLTggOHY0MGMwIDQuNDE3OTY5IDMuNTgyMDMxIDggOCA4em0wIDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSIiIHN0eWxlPSJmaWxsOiMwMDAwMDAiPjwvcGF0aD48cGF0aCBkPSJtOC4xNDg0MzggMjU2aDQwYzQuNDE3OTY4IDAgOC0zLjU4MjAzMSA4LThzLTMuNTgyMDMyLTgtOC04aC00MGMtNC40MTc5NjkgMC04IDMuNTgyMDMxLTggOHMzLjU4MjAzMSA4IDggOHptMCAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iIiBzdHlsZT0iZmlsbDojMDAwMDAwIj48L3BhdGg+PHBhdGggZD0ibTEwMS4wNjY0MDYgMTEyLjIzMDQ2OWMzLjE0MDYyNSAzLjAzNTE1NiA4LjEyODkwNiAyLjk4ODI4MSAxMS4yMTQ4NDQtLjA5NzY1NyAzLjA4NTkzOC0zLjA4NTkzNyAzLjEyODkwNi04LjA3NDIxOC4wOTc2NTYtMTEuMjEwOTM3bC0yOC4yODEyNS0yOC4yODEyNWMtMi4wMDc4MTItMi4wODIwMzEtNC45ODA0NjgtMi45MTQwNjMtNy43NzczNDQtMi4xODM1OTQtMi43OTY4NzQuNzM0Mzc1LTQuOTgwNDY4IDIuOTE3OTY5LTUuNzE0ODQzIDUuNzE0ODQ0LS43MzA0NjkgMi43OTY4NzUuMTAxNTYyIDUuNzczNDM3IDIuMTgzNTkzIDcuNzgxMjV6bTAgMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9IiIgc3R5bGU9ImZpbGw6IzAwMDAwMCI+PC9wYXRoPjxwYXRoIGQ9Im00OTMuODA0Njg4IDIuMzQzNzVjLTMuMTI1LTMuMTIxMDk0LTguMTg3NS0zLjEyMTA5NC0xMS4zMTI1IDBsLTExMC4xMzY3MTkgMTEwLjEzNjcxOWMtNzIuNTIzNDM4LTY2LjY5OTIxOS0xODQuNzM4MjgxLTY0LjM1NTQ2OS0yNTQuNDEwMTU3IDUuMzE2NDA2LTY5LjY3MTg3NCA2OS42NzE4NzUtNzIuMDE1NjI0IDE4MS44ODY3MTktNS4zMTY0MDYgMjU0LjQxMDE1NmwtMTEwLjEzNjcxOCAxMTAuMTM2NzE5Yy0yLjA4MjAzMiAyLjAwNzgxMi0yLjkxNDA2MyA0Ljk4NDM3NS0yLjE4MzU5NCA3Ljc4MTI1LjczNDM3NSAyLjc5Njg3NSAyLjkxNzk2OCA0Ljk4MDQ2OSA1LjcxNDg0NCA1LjcxMDkzOCAyLjc5Njg3NC43MzQzNzQgNS43Njk1MzEtLjEwMTU2MyA3Ljc4MTI1LTIuMTc5Njg4bDQ4MC00ODBjMy4xMjEwOTMtMy4xMjUgMy4xMjEwOTMtOC4xODc1IDAtMTEuMzEyNXptLTQxMy42NTYyNSAyNDUuNjU2MjVjLS4wNjI1LTY2LjUgMzkuMTQ0NTMxLTEyNi43NjU2MjUgOTkuOTYwOTM3LTE1My42NjAxNTYgNjAuODIwMzEzLTI2Ljg5NDUzMiAxMzEuNzg1MTU2LTE1LjM0Mzc1IDE4MC45MzM1OTQgMjkuNDUzMTI1bC0yMzcuMTAxNTYzIDIzNy4xMDE1NjJjLTI4LjIzNDM3NS0zMC44MTI1LTQzLjg2MzI4MS03MS4xMDU0NjktNDMuNzkyOTY4LTExMi44OTQ1MzF6bTAgMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9IiIgc3R5bGU9ImZpbGw6IzAwMDAwMCI+PC9wYXRoPjxwYXRoIGQ9Im0zOTEuNTcwMzEyIDEzNy4xMTMyODFjLTIuMzQzNzUtLjIwNzAzMS00LjY2MDE1Ni42NDg0MzgtNi4zMDQ2ODcgMi4zMzU5MzhsLTI0NC45NDE0MDYgMjQ2LjI0NjA5M2MtMS42NTYyNSAxLjY2NDA2My0yLjQ5NjA5NCAzLjk3MjY1Ny0yLjMwMDc4MSA2LjMxMjUuMTk5MjE4IDIuMzM5ODQ0IDEuNDE0MDYyIDQuNDc2NTYzIDMuMzI0MjE4IDUuODM5ODQ0IDczLjMzOTg0NCA1Mi4zMTY0MDYgMTczLjc3MzQzOCA0My44Mzk4NDQgMjM3LjMwNDY4OC0yMC4wMzEyNSA2My41MzUxNTYtNjMuODcxMDk0IDcxLjQ4MDQ2OC0xNjQuMzQ3NjU2IDE4Ljc3MzQzNy0yMzcuNDEwMTU2LTEuMzcxMDkzLTEuOTAyMzQ0LTMuNTExNzE5LTMuMTA5Mzc1LTUuODU1NDY5LTMuMjkyOTY5em0wIDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSIiIHN0eWxlPSJmaWxsOiMwMDAwMDAiPjwvcGF0aD48L2c+PC9nPiA8L3N2Zz4=" />
</a>
<a id='save' class='float float-bottom'>
    <img class="sunmoon" src="img/save.png"/>
</a>
<script class="save" src='/script.js'></script>
</body>


</html>