{% spaceless %}
<div class="category color-{{ question.categoryClass }}">
    <div class='question-header-container'>
        <div class='left-container'>
            <div class='sup-container'>
                <span class='left-bar bcolor-{{ category | lower | replace({' ': '-'}) }}'></span>
            </div>
            <div class='sup-container'>
                <span class='question-bubble bcolor-{{ category | lower | replace({' ': '-'}) }}'></span>
            </div>
        </div>
        <div class='question-title-container'>
            <h2>
                {{ question.content }}
            </h2>
        </div>
    </div>

    <div class='answer-container'>
        <div class="left-container">
            <div class='left-bar bcolor-{{ category | lower | replace({' ': '-'}) }}'></div>
        </div>
        <div>
{% endspaceless %}